* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*{
    
    font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

img{
    width: 200px;
    height: 200px;
    
}


.Rectangle2{
    margin-left: -100px;
}
.Rectangle1{
  padding-left:200px;
  margin-top: -65px;

     
 }

.App{
    width: 400px;
    height: 340px;
    background-color:rgba(167, 215, 197, 1) ;
    position: relative;
    margin: 100px;


}

.Form{
    position: absolute;
    width: 270px;
    height: 270px;
    border-radius: 20px;
    background-color: rgba(246, 251, 249, 1) ;
    margin-left: 15px;
    margin-top: -170px;
    

   
    

}

.Create{
    padding-top: 2px;
    display: flex;
    flex-direction: column;
    gap:3px
    

}
h1{
    font-size:19px ;
    line-height:70.79px;
    color: rgba(33, 43, 39, 1);
    font-weight: 600;
    justify-content: center;
    display: flex;
    
    

}
h2{ justify-content: center;
    display: flex;
    font-size:8px ;
    font-weight: 50;
   
    color: rgba(50, 64, 59, 1);
    margin-top:-14px;
    
    }
 .create_h2{
    margin-top: -27px;
 }

.Input_veli{
   display: inline-block;
   margin:7px;
   margin-left: 27px;
   padding-top:20px;
   
   
}
input{
   margin: 4px;
   width: 200px;
   height: 30px;
   border-radius: 4px ;
   background-color: rgba(255, 255, 255, 1);
   border-color:  rgba(0, 0, 0, 0.1);
   font-size: 7px;
   color:rgba(0, 0, 0, 0.5) ;
   padding-left: 5px;
  
   
   
}
button{
    width: 150px;
    height: 35px;
    background-color:rgba(132, 199, 174, 1) ;
    border-radius: 8px;
    border: none;
    color:rgba(255, 255, 255, 1);
    justify-content: center;
    font-size: 10px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 30px;
}
h3{
    color: rgba(50, 64, 59, 1) ;
    font-weight: 100;
    font-size: 7px;

    margin-top: 8px;
    padding-left: 50px
}
span{
    text-decoration: underline;

}